.sidebar {

}

.sidebar.open {
    position: absolute;
    z-index: 2;
    max-width: 317px;
    height: 100%;
    top: 0;
    background: #FFFFFF;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background: #000000;
    opacity: 0.3;
}

.nav {
    display: grid;
}

.nav a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #3D6B99;
}

.close {
    border: none;
    background: #FFFFFF;
}

.close img {

}
