.sidebar {
    display: grid;
    width: 317px;
    height: 720px;
    position: absolute;
    left: -100%;
}

.sidebar.open {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: #FFFFFF;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background: #000000;
    opacity: 0.3;
}

.nav {
    display: grid;
    padding: 20px 0 0 70px;
}

.nav a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 45px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #3D6B99;
}

.close {
    position: sticky;
    left: 100%;
    border: none;
    background: #FFFFFF;
    margin: 16px 24px;
    width: 24px;
    height: 24px;
    padding: 0;
}

.close img {

}
