.greetingForm {
    margin: 31px auto 31px auto;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;

}
/*.inputAndButtonContainer input {*/

/*}*/

/*.inputAndButtonContainer button {*/

/*}*/

.error {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;

    /*position: absolute;*/
    width: 165px;
    height: 17px;
    left: 70px;
    top: 267px;
}

.inputClass {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 100%;
    padding: 8px 12px;
}

.inputClass:focus {
    outline: none; /* отключаем стандартную рамку при фокусировке */
    border: 2px solid blue;
}


.errorInput {
    height: 100%;
    border: 1px solid  #CC0000;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
}

button {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    padding: 5px 24px;
    background: #0066CC;
    border-radius: 3px;

}
/*Click tab*/
button:focus {
    background: #0080FF;
}
/*Click mouse*/
button:active {
    background: yellow;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
